<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/mobile.css">
    <title>popup demo</title>
</head>
<body>
    
    <div id="pop-up" class="feedback">
        <button @click="isShow=true" class="feedback__btn">К покупкам</button>
        <transition name="showing" tag='div' class="form">
            <form id="popup-form" v-if="isShow" key="popup_form" action method="post" @submit.prevent="sendForm">
                <h3 class="title">Оставить заявку</h3>
                <input required class="popup-form__item" placeholder="E-mail.." type="email" v-model="email">
                <button class="popup-form__item btn" type="submit">{{ status }}</button>
                <span class="success" v-if="state==1">Успешно отправлено</span>
                <span class="error" v-else-if="state==-1">Что-то пошло не так...</span>
            </form>
        </transition>
        <transition name="showing_overlay">
            <div id="overlay" v-if="isShow" key="overlay" @click="isShow=false"></div>
        </transition>
    </div>

<script src="js/vue.js"></script>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="js/script.js"></script>
</body>
</html>